<%= form_for(@maneuver) do |f| %>
  <% if @maneuver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maneuver.errors.count, "error") %> prohibited this maneuver from being saved:</h2>

      <ul>
      <% @maneuver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, {:rows=>0, :cols=>0, :class => 'smallDescriptionArea' }%>
  </div>
  <div class="field">
    <%= f.label :effect %><br />
    <%= f.text_area :effect , {:rows=>0, :cols=>0, :class => 'smallDescriptionArea' }%>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => 'ajaxManeuverSubmit'  %>
  </div>
<% end %>
