<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feat.title %>
</p>

<p>
  <b>Description:</b>
  <%= @feat.description %>
</p>

<p>
  <b>Prerequisite:</b>
  <%= @feat.prerequisite %>
</p>

<p>
  <b>Benefit:</b>
  <%= @feat.benefit %>
</p>

<%= link_to 'Edit', edit_feat_path(@feat), :class => 'ajaxLink' %> |
<%= link_to 'Back', feats_path(), :class => 'ajaxLink' %>
