<p>
  <b>Title:</b>
  <%= @spell.title %>
</p>

<p>
  <b>Level:</b>
  <%= @spell.level %>
</p>

<p>
  <b>Domain:</b>
  <%= @spell.domain.name %>
</p>

<p>
  <b>Range:</b>
  <%= @spell.range %>
</p>

<p>
  <b>Damage:</b>
  <%= @spell.damage %>
</p>

<p>
  <b>Description:</b>
  <%= @spell.description %>
</p>

<p>
  <b>Requirement:</b>
  <%= @spell.requirement %>
</p>

<p>
  <b>Effect:</b>
  <%= @spell.effect %>
</p>

<p>
  <b>Special:</b>
  <%= @spell.special %>
</p>

<p>
  <b>Ritual:</b>
  <%= @spell.ritual %>
</p>

<p>
  <b>Prepared:</b>
</p>
