<h3>Spells
 <img src="/assets/Sword-Left.svg" class="sectionSword"/></h3>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Type</th>
    <th>Range</th>
    <th>Damage</th>
    <th>Ritual</th>
    <th>Prepared</th>
  </tr>

<% @spells.each do |spell| %>
  <tr>
    <td><%= spell.title %></td>
    <td><%= spell.level %></td>
    <td><%= spell.domain %></td>
    <td><%= spell.range %></td>
    <td><%= spell.damage %></td>
    <td><%= spell.ritual %></td>
    <td><%= spell.prepared %></td>

  </tr>
  <tr>
    <td colspan="7" class="goLeft"><b>Description:</b><%= spell.description %></td>
  </tr>
  <tr>
    <td colspan="7" class="goLeft"><b>Effect:</b><%= spell.effect %><hr/></td>
  </tr>
<% end %>
</table>
