<%= form_for(@class_attribute) do |f| %>
  <% if @class_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_attribute.errors.count, "error") %> prohibited this class_attribute from being saved:</h2>

      <ul>
      <% @class_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, {:rows=>0, :cols=>0, :class => 'smallDescriptionArea' } %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => 'ajaxClassAttributeSubmit' %>
  </div>
<% end %>
